$primary   : #008080
$secondary : #E6E6FA
$accent    : #9C27B0
$bg-background : #B1D4E0

$text-primary   : #008080
$text-secondary : #008080
$text-alert     : #E7805D

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #E7805D